# Filename : start.config
# Description:
#     Establish the names of lab containers and some of their properties, including:
#       User names
#       Network connections
#       lab master seed
#
# Typically, labs consisting of a single container can use the file without modification.
# Refer to the "Labtainer Lab Designer User Guide" for details. 

GLOBAL_SETTINGS
    GRADE_CONTAINER phase-attack
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED phase-attack_master_seed_2024
    CHECKWORK yes

CONTAINER phase-attack
    USER student
    PASSWORD student
    TERMINALS 1
